@import "tailwindcss";

html, body, #root {
  height: 100%;
}

body {
  font-family: ui-sans-serif, system-ui, "PingFang SC", "Microsoft YaHei",
    "Helvetica Neue", Arial, sans-serif;
  font-feature-settings: "tnum";
}
